VITE_OPENROUTER_API_KEY=
VITE_AVALANCHE_FUJI_RPC=https://api.avax-test.network/ext/bc/C/rpc
VITE_EXPLANATION_MANAGER_ADDRESS=
VITE_PROVE_TOKEN_ADDRESS=
VITE_STEM_INDEX_ADDRESS=
VITE_CREDENTIAL_ADDRESS=
